<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="assets/css/style.css">
    <script data-main="js/start" src="js/lib/require.js"></script>
</head>

<body>
    <h1> Top Down Shooter</h1>
    <h2>HighScore</h2>
    <h2>Name:{{name}} Waves:{{waves}}</h2>

</body>

</html>